html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

calculator {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="number"] {
    font-size: 1.2em;
    padding: 8px;
    margin: 0 10px;
    width: 80px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

span {
    font-size: 1.2em;
    margin-left: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    width: 150px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

    button:hover {
        background-color: #0056b3;
    }

    button:disabled {
        cursor: not-allowed;
        color: #aaa;
        background-color: #ccc;
    }
