@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@authMessage</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string authMessage = "The user is NOT authenticated.";

    private bool isEnabled;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState != null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user?.Identity is not null && user.Identity.IsAuthenticated)
            {
                authMessage = $"User {user.Identity.Name} is authenticated.";
            }
        }
    }
}