@page
@model BlobModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        .code {
          font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
        }
    </style>
</head>

<h1>
    Razor Page Example
</h1>
<p>
    BLOB
</p>
