body {
    font-family: "Segoe UI";
    color: #242526;
}

.progress-bar {
    width: 100%;
    background-color: grey;
}

.progress {
    width: 1%;
    height: 30px;
    background-color: #04AA6D;
    transition: width 0.2s linear;
}

.progress-bars-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.progress-bar-container {
    padding: 32px 64px;
}

.progress-bar {
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-labels {
    padding: 8px 8px;
}

.progress-bar-label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.disable-transitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
}