@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


<feature name="ContentEnhancement">
    <p>Cool stuff you can only see if Content Enhancement is enabled.</p>
</feature>
