@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Welcome to the new and sleek company portal.
</h1>

<img src="https://www.betalabservices.com/wp-content/uploads/2018/06/beta-1000x506-72dpi-color.png" />

<div class="row">
    <div class="col-md-3">
        <h2>Our Company</h2>
        <ul>
            <li><a href="./home/about">Why Choose us.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Growing Together</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Free Seminars</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Peer mentorship</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Moving Forward</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Pipeline Management</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Maintaining Growth</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Bi-annual growth assessments</a></li>
        </ul>
    </div>
</div>
