@page
@model VariantsDemo.Pages.IndexModel
@{
}

<h1>
    Variants Example
</h1>

<div class="progress-bars-container">
    <div class="progress-bar-container">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
</div>